@model IEnumerable<APIMessages.CustomersEntity>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => @model.latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.longetude)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        using (Html.BeginForm("Delete", "Customers", new { id = item.id }))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.latitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.longetude)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) | 
                    @Html.ActionLink("Contacts", "Contacts", new { id = item.id }) | 
                    <input type="submit" value="Delete" class="btn btn-info" onclick="return confirm('This will delete @item.name as a customer.  Are ya sure?')" />
                </td>
            </tr>
        }
    }

</table>
